:root{
    --btn-border-radius: var(--global-border-radius);
    --btn-font-weight: var(--paragraph-font-weight);
    --btn-font: var(--paragraph-font);

    --btn-primary-background: var(--color-primary);
    --btn-primary-color: white;
    --btn-primary-border: none;

    --btn-secondary-background: var(--color-secondary);
    --btn-secondary-color: white;
    --btn-secondary-border: none;

    --btn-transition-duration: var(--global-transition-duration);
    --btn-transition-easing: var(--global-transition-easing);
    --btn-transition-properties: var(--global-transition-properties);
}

@layer components {
    .btn {
        position: relative;
        border-radius: var(--btn-border-radius);
        font-weight: var(--btn-font-weight);
        font-family: var(--btn-font), sans-serif;

        transition-duration: var(--btn-transition-duration);
        transition-timing-function: var(--btn-transition-easing);
        transition-property: var(--btn-transition-properties);
    }

    .btn-primary {
        background: var(--btn-primary-background);
        color: var(--btn-primary-color);
        border: var(--btn-primary-border);
    }

    .btn-secondary {
        background: var(--btn-secondary-background);
        color: var(--btn-secondary-color);
        border: var(--btn-secondary-border);
    }
}



