:root{
    --title-font-weight: 700;
    --paragraph-font-weight: 400;
    --small-font-weight: 200;

    --title-font: var(--global-font);
    --paragraph-font: var(--global-font);
    --small-font: var(--global-font);

    --title-color: var(--global-text-color);
    --paragraph-color: var(--global-text-color);
    --small-color: var(--global-text-color);

    --title-background: none;
    --webkit-background-clip: initial;
    --webkit-text-fill-color: initial;

    --title-alternate-color: var(--title-color);
    --title-alternate-background: var(--title-background);
}

.title {
    font-weight: var(--title-font-weight);
    font-family: var(--title-font), sans-serif;;
}

.title:not(.card .title):not(.item .title) {
    color: var(--title-color);
    background: var(--title-background);
    -webkit-background-clip: var(--webkit-background-clip);
    -webkit-text-fill-color: var(--webkit-text-fill-color);
}

.title.title-color-alternate:not(.card .title):not(.item .title) {
    color: var(--title-alternate-color);
    background: var(--title-alternate-background);
}

.paragraph {
    font-weight: var(--paragraph-font-weight);
    font-family: var(--paragraph-font), sans-serif;
}

.paragraph:not(.card .paragraph):not(.item .paragraph) {
    color: var(--paragraph-color);
}

.small {
    font-weight: var(--small-font-weight);
    font-family: var(--small-font), sans-serif;
}

.small:not(.card .small):not(.item .small) {
    color: var(--small-color);
}
