@layer base, components, utilities;

@import './theming.css';

@import 'tailwindcss'; /* tailwind after theming to allow (layout specific) overrides (f.e. header standard palette inverted) */

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

:root{
    --shadow-panel: none;

    --border-width-link: 1px;

    --color-shader: rgba(0, 0, 0, 0.1); /* can only be 255x3 or 0x3 and any alpha between 0 and 0.3(?) */

    --color-primary: #ff00ff; /*todo: light, dark, fade variants (not shades)*/
    --color-primary-fade: #dd00dd;
    --color-secondary: #00ffff; /*todo: light, dark, fade variants (not shades)*/
    --color-accent: #f0ff0f; /*todo: light, dark, fade variants (not shades)*/
    /* todo: actually, do make shades, just convert rgb to hsl and put 6 variants on each side (but use 5 on each side to exclude white and black) */
    /* todo: background colors (like base in daisy, usable for background but also for borders */

    --color-base-100: #ffffff;
    --color-base-200: #f7f7f7;
    --color-base-300: #e1e1e1;
    --color-base-400: #cfcfcf;
    --color-base-500: #b1b1b1;

    --global-font: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --global-border-radius: 3px;
    --global-text-color: black;

    --global-transition-duration: 0.1s;
    --global-transition-easing: ease-in-out;
    --global-transition-properties: all;
}

@theme {
    --font-sans: var(--global-font);
    --radius-sedu: var(--global-border-radius);

    --radius-card: var(--card-border-radius);
    --radius-item: var(--item-border-radius);
    --radius-btn: var(--btn-border-radius);

    --shadow-panel: var(--shadow-panel);

    --border-width-link: var(--border-width-link);

    --color-shader: var(--color-shader);

    --color-primary: var(--color-primary);
    --color-primary-fade: var(--color-primary-fade);
    --color-secondary: var(--color-secondary);
    --color-accent: var(--color-accent);

    --color-base-100: var(--color-base-100);
    --color-base-200: var(--color-base-200);
    --color-base-300: var(--color-base-300);
    --color-base-400: var(--color-base-400);
    --color-base-500: var(--color-base-500);
}
