:root {
    --global-border-radius: 15px;
    --btn-border-radius: 9999px;
    --btn-font-weight: 700;

    --paragraph-color: #878384;
    --input-color-placeholder: var(--paragraph-color);

    --item-background: none;
    --item-border: 1px solid var(--color-shader);

    --panel-border: 2px solid var(--color-shader);

    --input-background: none;
    --input-normal-border: 1px solid var(--color-shader);


    --color-primary: #b23a48;
    --color-primary-fade: #fcb9b2;
    --color-secondary: #461220;
    --color-base-100: #f2e4e8;

    --btn-secondary-background: transparent;
    --btn-secondary-color: var(--color-primary);
    --btn-secondary-border: 1px solid var(--color-primary);

    --card-background: var(--color-base-100);
    --card-border: 2px solid var(--color-shader);
}

.btn-primary:hover:not([disabled]) {
    background-color: var(--color-secondary);
}

.btn-secondary:hover:not([disabled]) {
    color: var(--color-base-100);
    background-color: var(--color-primary);
}

.item:hover {
    border-color: var(--color-primary);
}

.btn[disabled]:after {
    top: 0;
    left: 0;
    position: absolute;
    content: attr(data-disabled-hover-message);
    width: 100%;
}

.btn[disabled]:hover:after {
    padding-top: calc(var(--global-spacing) * 4);
    top: 100%;
    color: var(--color-primary);
}
